@media only screen and (max-width:1800px) {
    h2 {
        margin: 4% auto 0 auto;
        
    }
    .package-calc {
        
        height: 12rem;
    }
}

@media only screen and (max-width:1600px) {
    h2 {
        margin: 3% auto 0 auto;
        font-size: 180%;
    }
    p {
        font-size: 70%;
    }
    .package-calc {
        height: 10rem;
    }
}

@media only screen and (max-width:1400px) {
    h2 {
        margin: 2% auto 0 auto;
        font-size: 130%;
    }
    p {
        font-size: 70%;
    }

    .package-calc {
        
        height: 9rem;
    }

    h1 {
        font-size: 200%;
    }
}

@media only screen and (max-width:1280px) {
    h2 {
        margin: 2% auto 0 auto;
        font-size: 110%;
    }
    .package-calc {
        
        height: 6.4rem;
    }
    p {
        font-size: 70%;
    }
    input[type=number] {
        border: 3px solid #4b498f;
        height: 40px;
        text-align: center;
        font-size: 80%;
        width: 400px;
    }

    .package-calc li figure img {
        height: auto;
        width: 150px;
    }
}

@media only screen and (max-width:900px) {
    h1 {
        font-size: 175%;
    }
}
@media only screen and (max-width:800px) {
    h1 {
        font-size: 120%;
    }
}