@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	color: #2c2b4d;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	padding: 0;
	margin: 0;
	background-color: #373667;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background-image: linear-gradient(#d4d4d48a, #d4d4d48a), url(../img/unknown.png);
	height: 100vh;
	width: auto;
	background-size: cover;
	background-position: center;
	position: relative;
}

h1 {
	font-size: 3rem;
	font-weight:800;
}

.hero-text-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 50%;
}

.hero-text-box2 {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 50%;
}

.instructions {
	color: #424242;
	font-size: .8rem;
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1% auto;
}

.options-showcase {
	list-style: none;
	width: 200%;
}

.options-showcase li {
	width: 33%;
	float: left;
}

.options-photo {
	width: 100%;
	margin: 0;
	padding: 1rem;
	overflow: hidden;
	position: relative;
	float: left;

}


.options-photo img {
	width: 70%;
	height: auto;
	opacity: .9;
	transition: all .3s;
	transform: scale(1.4);
	overflow: hidden;
}

.options-photo2 img {
	padding-right: 3rem;
	width: 80%;
	height: auto;
	opacity: .9;
	transition: all .3s;
	transform: scale(1.4);
	overflow: hidden;
}

.options-photo img:hover {
	opacity: 1;
	transform: scale(1.5);
}

.package-calc {
	background-color:#fff;
	border: 3px solid #4b498f;
	height: 15rem;
}


.options-photo2 {
	padding: 0;
}

.options-photo2 img {
	transform: scale(1.4);
}

.options-photo2 img:hover {
	transform: scale(1.4);
}

form {
	display: flex;
	margin: 1rem 0 0 35%;
	width: 60%;
}
button {
	padding: .5rem 1rem;
	font-size: .9rem;
	background-color: #373667;
	color: #fff;
	text-decoration: none;
	border: none;
	transition: all .2s;
	border-radius: 1px;
}

button:hover {
	background-color: #4b498f;
	font-size: .79rem;
}



input[type=number] {
	width: 100%;
	border: 3px solid #4b498f;
	height: 55px;
	text-align: center;
}

h2 {
	font-size: 250%;
	font-weight: 500;
	margin: 6% auto 1% auto;
}

p {
	font-size: .7rem;
	font-weight: 600;
}

.div-proceed {
	display: flex;
	justify-content: center;
}

.package-calc li figure img {
	height: 100%;
	width: auto;
}

.a-link {
	color: #fff;
	text-decoration: none;
}

.back {
	margin: 2rem;
}

